<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/Users/willcofer/Desktop/somename/projexx2/static/css/contactus.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo:300&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav id="navone" class="navbar fixed-top navbar-expand-md  " style=" border:0px;padding:0px;margin:0px;height:3.33rem;background-color:transparent;
    }">
    <div class= "container">
     <a class="navbar-brand " href ="#" </a>
     <a class="navbar-brand" href="/">
      <div style="margin-bottom:20px;"class="logo-image" style="height:50px;">
            <a style="font-family:'Aleo';"class="nav-link text-light" href="#"> <a>
      </div>
    </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
           <span class="btn btn-outline-secondary">_</span>
         </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto ">
         <li class="nav-item active" style="">
           <a class="nav-link text-light" href="#">
                 <span class="sr-only">(current)</span>
               </a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-light" href="#"></a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-dark" href="{% url 'second_app:index' %}">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-dark" href="">Resources</a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-dark" href="">FAQ</a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-dark" href="{% url 'second_app:contact' %}">Contact Us</a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-info" href="#">Log in</a>
         </li>
       </ul>
     </div>
    </div>
    </nav>

    <div class="hero-image">
     <div class="hero-text">
       <h1 style="font-size:50px"></h1>
       <h3></h3>

     </div>
   </div>


   <div class="jumbotron " style="background-color:#f9f9f0; font-family:'Aleo';margin-top:1px;">
     <h1 style="margin-top:1px;"class="text-center"></h1>
     <p class="text-center"></p>
     <div class="row">
       <div class="col-sm-6 mx-auto" style="">
         <iframe style=""src="https://docs.google.com/forms/d/e/1FAIpQLScCvfiUqDvRcXIYwr-6nq0JtUzKthJyDSjdZUModbLxMBysaw/viewform?embedded=true" width="640" height="3000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>   </div>
       <div class="col-sm-6 mx-auto" style="">
         <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfhra_ocNB3OgyvNSg-vXmZCUR_DM05MDPESEE7v7-4BSsZ2Q/viewform?embedded=true" width="640" height="1156" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
   </div>
     </div>
   </div>











 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
